Handle HTTP Accept headers

Hi Roland,

This quick message to first of all thank you for the incredible work done around overpass API to make it works despite increasing load and amount of features asked.

Is this possible to add HTTP Accept header support to allow users to tell the server the best format they expect ?
This is especially for errors : I'm using oapi machine to machine and html errors aren't so easy to parse (since they're designed for browser output). Having them in plain text (Accept: text/plain) would be really nice. Currently oapi servers always answers in html when errors occur.

Keep up with good features ;)

François

> Currently oapi servers always answers in html when errors occur.

I would recommend to check for the HTTP Status Code instead. For the situation you describe (HTML response), you will get either an HTTP 504 or HTTP 429 return code along with the HTML response. That should really be sufficient to find out that the call failed. Both of them indicate, that there's either too much load on the server, or that you're exceeding your allowed quota and fired off too many requests in a too short time interval.

In case you get a respnse with HTTP Status 200, you need to check for a `<remark>`  tag in the XML (or JSON) response. In that case, your approach would not work, as the reponse is not in text/plain, but text/json or text/xml format.

I would also recommend to refer to the overpass turbo sources for some ideas on error handling.



Hi Roland,

I'm already checking HTTP resp code, but I'd find interesting to improve my logs with the error label.
Especially for syntax errors, it's difficult to extract it from html. And html is ugly in CLI output :)

Since requests can be dynamically built by scripts and errors autonomously logged, the plain text output is more useful than it seems.

My point wasn't to allow all formats for all responses, if Accept header value won't suit the response needs, you can just send 404 or 404 "Bad Request".

> Hi Roland,

sorry, no Roland here. Roland is answering as user _drolbr_.

> Since requests can be dynamically built by scripts and errors autonomously logged, the plain text output is more useful than it seems.

I'm not sure, I fully understand your use case. Do you run your own Overpass API instance? What kind of dynamic scripts are you building? Can you elaborate a bit more to get a clearer understanding?

If you're interested in plain error messages, maybe you could simply pass your queries through a locally installed osm3s_query binary. That would work, even if you don't have a local database. Here's an example:

```
echo "invalid_query" | ./osm3s_query
encoding remark: Please enter your query and terminate it with CTRL+D.
line 1: parse error: Unknown type "invalid_query"
line 3: parse error: An empty query is not allowed
```


Sorry mmd, my last answer was a bit quick ;)

I'm not running my own oapi instance, but I have scripts (python, php) which write their own requests based on patterns and templates. Final request string is only know on runtime.
Thus, syntax errors can regularly occur, if scripts put query elements in bad order or do whatever wrong.
So it may be nice to see syntax errors in those scripts' logs to avoid the behaviour responsible for such an error as fast as possible (seems legit).

I didn't know osm3s_query until now.
The main issue I see by local check of syntax with osm3s_query is I can't be sure I use the same version of interpreter than the one installed on the server I send request to. Especially if it's a non official server which can handle different syntax than the main branch (I won't setup a local osm3_query for each ;) ).

I want this to be the most simple it can be and asking for a better presentation of errors following HTTP headers isn't a big deal. Especially when client and server software look for a format they can both handle.
This issue is open to let you understand the concern, not to claim it for tomorrow.

All the best

Hi,

the problem is that expectations from different clients are a big mess. For example, HTTP states that most error codes can be accompagnied by a payload to give details of the error, but the two not-so-unimportant client Firefox and Wget both discard that payload instead of showing it to the user.

The thing that I would like to get clear is what would be acceptable input fields and what would be acceptable output fields in your case. I'm not completely convinced that a HTTP header would be the right place because HTTP fields each have a relatively narrow meaning and acceptable format for error messages is not amongst them.

What about "&error=text" in the input? We are free to specify what we like on the CGI level. And CGI parsing happens relatively early in the process, thus most error conditions would be covered.


The Accept header in HTTP specifies a list of prefered MIME types for the atachment in the body; it says nothing about the format used outside the bofy in headers of replies.
Note that the HTTP status line starts with a standardized error number, but the text on the status line can be customized. However many browsers discard this text which is generally in English, in order to supply another description of the error. However, that status should be visible in details and may be used in automated tools. This status line is only plain-text and just has to be limited in length (not more than about 256 bytes, and normally encoded in plain ASCII or UTF-8 as there's no support for base64 or quoted-printable there, unlike with other MIME headers; UTF-8 should be the default encoding if you return non ASCII text; and that message is in an unspecified arbitrary language, for this reason it is never parsed by automated tools receiving it, only the status code is considered, its purpose if mainly for debugging, if more details are needed, other details may be given in MIME headers, or in the attachment body if it supports it in its own format).

Given you're normally querying OverPAss to get XML or JSON or CSV data such details may be inserted in XML comments, or in JSON comments or in a #-starting comment line for CSV. I don't think these details are part of the response file and if the server returns a status >=500, that response is not cachable (this is a temporary server-side error, or an error from a relaying proxy, and the request should be be repeated immediately in a tight loop: some reasonnable delays should be made by the querying client, including the time for a human to be informed of the problem before manually restarting it).

Note that when there's any error >=400, the webserver is free to reply with an attached body in any MIME format that may be useful (the webserver may inspect the user-agent of the client to determine what it may display, but most often webservers are returning the attachment in HTML because it is intended to a user and not to a library (which should only parse the status line and possibly a few standardized MIME headers related to session hjandling, response caching, or to delays before retrying). The Accept header in the client request is not relevant at all for these error responses.

@gustavecha : please see Roland's reply:

> What about "&error=text" in the input? We are free to specify what we like on the CGI level. And CGI parsing happens relatively early in the process, thus most error conditions would be covered.

I think we will not use HTTP Accept header as you suggested, but maybe some additional parameter in the URL. Do this sound ok to you? 



Hi everyone,

Thank you both of you mmd and drolbr for answers and details.
Understood your point.

Please @drolbr, can you give the http codes where Firefox and wget discard the payload ?

I think adding error=text in the URL isn't the nicest solution and breaks with http standard.
Following http standard will ensure the interoperability. It's a shame that firefox drops possibly relevant payload forcing us to add URL parameters.
There is no reason to replace Accept header with URL parameters.

Then you're still owner of your house and I'm sure you'll take the solution you think the best for OAPI :)

> I think adding error=text in the URL isn't the nicest solution and breaks with http standard.

Can you point to the respective RFC where you believe this breaks standard?

Others suggest:

> It is best practice to include the error message as an entity in the HTTP response - be it JSON, plain text, formatted HTML, or whatever other format you may want to utilize.

Source:  http://stackoverflow.com/a/13963988/3501889

>  Then you're still owner of your house and I'm sure you'll take the solution you think the best 

I'm sure you're aware of the fact that source code is freely available. If you don't like how error messages are handled, you're always free to fork the repo, adjust the source code and set up your own instance. That may be the best option for the time being, if you don't like what Roland proposed above.





Let's recap your situation as far as I understand it:

* You've created some script which dynamically creates queries
* For some unknown reasons, you can't manage to always create valid queries (maybe you should spend more energy on this point?)
* You want to use the public instance to check for syntax errors in your queries and log them in your files (not clear, if you also want to run actual queries afterwards)
* You didn't want to use your own `osm3s_query` implementation to cross check for syntax errors, because you believe there might be some differences to the current installed public instance (I highly doubt that's the case, all syntax extensions were always downwards-compatible)
* You didn't like the idea of having an additional parameter to specify the output format.
* You insist on Accept-Header being a good way to control output format for error messages

Did I miss something?

> I think adding error=text in the URL isn't the nicest solution and breaks with http standard.

Can you elaborate in how far this breaks http standard? Can you maybe refer to the respective RFC?

> Then you're still owner of your house and I'm sure you'll take the solution you think the best for OAPI :)

You're probably aware of the fact that the source code being open source, i.e. nothing which would prevent you from forking it, adjust it as you like and run your own instance and be your own master. Did you evaluate if this might be a better solution to your use case?



> You've created some script which dynamically creates queries

Yes

> For some unknown reasons, you can't manage to always create valid queries (maybe you should spend more time/energy on this point, assuming this is feasible?)

The syntax is always ok. But sometimes, OAPI may be overloaded and will answers with a 429 error.
And in all protocols, error cases should be handled carefully, which can rise anytime.

> You want to use the public instance to check for syntax errors in your queries and log them in your files (not clear, if you also want to run actual queries afterwards)
> You didn't want to use your own osm3s_query implementation to cross check for syntax errors, because you believe there might be some differences to the current installed public instance (I highly doubt that's the case, established syntax rules never changed in newer releases so far, afaik)

No

> You didn't like the idea of having an additional parameter to specify the output format for error messages.

Yes

> You insist on Accept-Header being a good way to control output format for error messages

Yes

> Did I miss something?

No :)

> Can you elaborate in how far this breaks http standard? Can you maybe refer to the respective RFC?

I think RFC 7231 can help us to understand this.
https://tools.ietf.org/html/rfc7231#page-7
`The target of an HTTP request is called a "resource".  HTTP does not
   limit the nature of a resource; it merely defines an interface that
   might be used to interact with resources.  Each resource is
   identified by a Uniform Resource Identifier (URI), as described in
   Section 2.7 of [RFC7230].`
And
`One design goal of HTTP is to separate resource identification from
   request semantics, which is made possible by vesting the request
   semantics in the request method (Section 4) and a few
   request-modifying header fields (Section 5).  If there is a conflict
   between the method semantics and any semantic implied by the URI
   itself, as described in Section 4.2.1, the method semantics take
   precedence.`

Then, if protocol implements something (like Accept header) to allow clients to define what format they expect in return, it's a poor (but understandable, no offense intended) to reimplement it at the top application level.
That's precisely why I don't like the error=text URL parameter.

> You're probably aware of the fact that the source code being open source, i.e. nothing which would prevent you from forking it, adjust it as you like, run your own instance and be your own master. Did you already evaluate if this might be a better solution for your specific use case?

My point was to say I'm seeking for consensus and will not force anything in this project.
The final goal isn't my personal case but the compatibility of OAPI with http standard as to enable users to build better (in http terms) software.

I understand your point to help clients by making OAPI accessible with only URL and 2 http methods (really kind of you). But it uses http first of all, and you should take advantage of all tools it exposes. This is the only way to make www a better place.

Hope things are clearer, don't hesitate to ask if not.

> OAPI may be overloaded and will answer with a 429 error.

Ah, that's good to know. Not sure if you're aware of the http://overpass-api.de/api/status endpoint, which has been introduced some time in August only. It returns your current quota usage in text format.

This is especially handy in case of an 429 error, as it will tell you how long you need to wait before sending the next query. That's currently the only way to get this information. Even the call which failed with the HTTP 429 doesn't (yet) include this waiting time information, not even in HTML format.



Yes, I use this endpoint :)
And I send a kill_my_queries before any query to put the best chances to get the result.
But this won't prevent me to get any other kind of error the OAPI can send me for any reason ;)

Looking forward to read from you